<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=127.0.0.1;Persist Security Info=True;User ID=wmhcs_db;Password=wmhcs;Unicode=True"
   providerName="System.Data.OracleClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Oracle.Web, Version=2.112.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
				<add assembly="Oracle.DataAccess, Version=2.112.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/></assemblies></compilation>
	</system.web>
</configuration>
